<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebApplication1</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
	<style>
		.map {
			height: 400px;
			width: 100%;	
		}
		.ol-tooltip {
			position: relative;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 4px;
			color: white;
			padding: 4px 8px;
			opacity: 0.7;
			white-space: nowrap;
			font-size: 12px;
		}

		.ol-tooltip-measure {
			opacity: 1;
			font-weight: bold;
		}

		.ol-tooltip-static {
			background-color: #ffcc33;
			color: black;
			border: 1px solid white;
		}

			.ol-tooltip-measure:before,
			.ol-tooltip-static:before {
				border-top: 6px solid rgba(0, 0, 0, 0.5);
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
				content: "";
				position: absolute;
				bottom: -6px;
				margin-left: -7px;
				left: 50%;
			}

			.ol-tooltip-static:before {
				border-top-color: #ffcc33;
			}
	</style>
	<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">WebApplication1</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
			<h2>My Map</h2>
			<div id="map" class="map"></div>

			<form id="options-form" autocomplete="off">
				<div class="radio">
					<label>
						<input type="radio" name="interaction" value="draw" id="draw" checked>
						Draw &nbsp;
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="interaction" value="modify">
						Modify &nbsp;
					</label>
				</div>
				<div class="form-group">
					<label>Draw type &nbsp;</label>
					<select name="draw-type" id="draw-type">
						<option value="LineString">Length (LineString</option>
						<option value="Polygon">Area (Polygon)</option>
					</select>
				</div>
			</form>
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2020 - WebApplication1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)

	
</body>
</html>
